@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
*{
  font-family: "Tajawal", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.navbar{
  background-color: #4c3422;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  row-gap: 1rem;
}
.navbar a, .navbar h1{
  color: white;
  text-decoration: none;
  flex-wrap: wrap;
  text-align: center;
  transition: 0.6s ease;
}
.navbar a:hover{
  font-size: larger;
}
.center, .right{
  display: flex;
  gap: 1.5rem;
  font-size: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.logo{
  width: 120px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.home{
  text-decoration: none;
  color: black;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4c3422;
}
::-webkit-scrollbar-thumb:hover {
  background: #8B5C41;
}

.name-image{
  height: 70px;
  width: 400px;
  margin-top: 20px;
}
.my-image{
  height: 450px;
  width: 300px;
  border-radius: 300px;
  margin-top: 20px;
}
.cert-container{
  border: 1px solid #4c3422;
  border-radius: 2rem;
  background-color: #f1d9c5;
  box-shadow: 1px 10px #4c3422;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
  width: 70%;
}
.cert-container p{
  margin-bottom: 15px;
}
.cert-container h1{
  margin-bottom: 1rem;
}
.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.cert-image{
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 15px;
}
.container{
  background-color: #f1d9c5;
  box-shadow: 1px 5px 10px #4c3422;
  margin-top: 35px;
  margin-bottom: 50px;
  text-align: center;
}
.container p{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.container h1{
  margin-top: 20px;
  text-transform: uppercase;
  padding: 10px;
}

.qoute-container{
  background-color: #946649;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
  padding: 100px;
  font-style: italic;
  color:  #f1d9c5;
    box-shadow: 1px 5px 10px #4c3422;
}
.qoute-container p{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.qoute-container h1{
  margin-top: 20px;
  text-transform: uppercase;
}
.btn{
  background-color: #4c3422;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 19px 32px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 11rem;
  transition: background 0.5s ease;

}
.btn1{
  padding: 15px;
  width: 8rem;
  cursor: pointer;
}
.btn:hover{
  cursor: pointer;
  background-color: white;
  color: #4c3422;
}
::-moz-selection { /* Code for Firefox */
  color: #4c3422;
  background: #BE976E;
}

::selection {
  color: #4c3422;
  background: #BE976E;
}
.footer {
  background-color: #4c3422;
  color: #f1d9c5;
  font-size: 14px;
  padding: 40px 0;
  text-align: center;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 30px;
  column-gap: 1.5rem;
}

.box {
  flex-basis: 30%;
  margin-bottom: 10px;
  text-align: center;
}

.box h1 {
  color: #f1d9c5;
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.box p {
  margin: 0;
  padding: 0;
  font-size: 20px;

}

.accordion .contentBx{
  position: relative;
  margin: 10px 20px;
  color: black;
}
.accordion .contentBx .label{
  position: relative;
  padding: 10px;
  background: #4c3422;
  cursor: pointer;
  color: white;
  transition: 0.5s ease;
}

.text-container {
   width: 250px;
   height: 40px;
   margin-bottom: 10px;
   margin-top: 10px;
}
.accordion .contentBx .label:hover{
  border-style: solid;
  background: #f1d9c5;
  color: #4c3422;
}
.accordion .contentBx .label::before{
  content: '+';
  position: absolute;
  top: 15%;
  right: 20px;
  transform: translate(-50%);
  font-size: 1.5em;
}
.accordion .contentBx.active .label::before{
  content: '-';
}
.accordion .contentBx .content{
  position: relative;
  height: 0;
  background: #f1d9c5;
  transition: 0.5s;
  overflow: hidden;
  overflow-y: auto;
  border: 0px solid #4c3422;
}
.accordion .contentBx.active .content{
  height: 200px;
  padding: 10px;
  border: 2px solid #4c3422;
}
.contentBx p{
  padding: 10px;
}
.qoute-container, .cert-container, .container, .accordion{
  opacity: 0;
  transition: opacity 0.5s;
}
@media screen and (max-width: 800px) {
  .cert-container{
    width: 100%;
  }
}